PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

REDIS_USERNAME=default
REDIS_PASSWORD=default
REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_TOKEN=SuperSecret123456
JWT_REFRESH_TOKEN=SuperSecret123